body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: purple;
}
.container {
    max-width: 600px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h1 {
    text-align: center;
}
h1{
    text-shadow: 5px 5px 3px powderblue;
    font-size: 40px;
}
form {
    display: flex;
    flex-direction: column;
}
label {
    margin-bottom: 8px;
}
input[type="text"],
input[type="number"],
textarea {
    padding: 8px;
    margin-bottom: 16px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.submit-button {
    padding: 10px 20px;
    background-color: green;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.submit-button:hover{
    background-color: orangered;
}

.section {
    margin-bottom: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.expense-list{
    list-style-type: none;
    padding: 0;
}
.expense-item {
    margin-bottom: 8px;
}
input[type="checkbox"]{
    display: none;
}
label{
    display: block;
    background-color: #f3f0ef;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
}
label:hover{
    background-color: rgb(238, 14, 70);
}
.expense-name{
    font-weight: bold;
    margin-right: 10px;
}
.expense-summary {
    text-align: center;
}
#totalExpenses{
    background-color: powderblue;
    color: black;
}